<a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="SearchTotaleTrasgressione">Totale Trasgressioni</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="SearchImporto400">Totale importo 400</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="SearchPunti">Totale Punti Decurtati</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="SearchPunti10">Totale Verbali piú di 10 punti</a>