<div class="btn-group" role="group" aria-label="Search Options">
    <a class="btn btn-primary m-1" role="button" asp-area="" asp-controller="Search" asp-action="SearchTotaleTrasgressione">Totale Trasgressioni</a>
    <a class="btn btn-primary m-1" role="button" asp-area="" asp-controller="Search" asp-action="SearchImporto400">Totale importo 400</a>
    <a class="btn btn-primary m-1" role="button" asp-area="" asp-controller="Search" asp-action="SearchPunti">Totale Punti Decurtati</a>
    <a class="btn btn-primary m-1" role="button" asp-area="" asp-controller="Search" asp-action="SearchPunti10">Totale Verbali piú di 10 punti</a>
    <a class="btn btn-primary m-1" role="button" asp-area="" asp-controller="Search" asp-action="SearchContestazione">Possibili Contestazioni</a>

</div>